frontend/node_modules/
frontend/.vscode/
DoughAssistantBackend/obj/
DoughAssistantBackend/bin/
DoughAssistantBackend/.vs/
frontend/src/clientSecrets.ts
DoughAssistantBackend/Properties/backendSecrets.json
DoughAssistantBackend/.idea/
